Source: openmediavault-teamviewerhost
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: network

Package: openmediavault-teamviewerhost
Architecture: all
Depends: openmediavault (>= 5.0.5),
         teamviewer-host,
         ${misc:Depends}
Description: Teamviewer Host plugin for OpenMediaVault.
